In [ ]:
# Import the dataset
import pandas as pd

# Load the dataset with latin-1 encoding to handle special characters
df = pd.read_csv('~/superstore_sample.csv', encoding='latin-1')

# Display the first few rows of the dataset
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [9]:
# Display all column names to understand the data structure
print("Columns in the dataset:")
print(df.columns.tolist())
print(f"\nTotal records: {len(df)}")
print(f"Unique Order IDs: {df['Order ID'].nunique()}")

Columns in the dataset:
['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

Total records: 9994
Unique Order IDs: 5009

In [10]:
# Create the CUSTOMER table
# Customer attributes: Customer ID (PK), Customer Name, Segment, Country, City, State, Postal Code, Region
customer = df[['Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region']].drop_duplicates().reset_index(drop=True)

print("CUSTOMER Table:")
print(f"Shape: {customer.shape}")
print(customer.head())
print(f"\nUnique customers: {customer['Customer ID'].nunique()}")

CUSTOMER Table:
Shape: (4910, 8)
  Customer ID    Customer Name    Segment        Country             City  \
0    CG-12520      Claire Gute   Consumer  United States        Henderson
1    DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles
2    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
3    BH-11710  Brosina Hoffman   Consumer  United States      Los Angeles
4    AA-10480     Andrew Allen   Consumer  United States          Concord

            State  Postal Code Region
0        Kentucky        42420  South
1      California        90036   West
2         Florida        33311  South
3      California        90032   West
4  North Carolina        28027  South

Unique customers: 793

In [11]:
# Create the ORDER table
# Order attributes: Order ID (PK), Customer ID (FK), Order Date, Ship Date, Ship Mode
order = df[['Order ID', 'Customer ID', 'Order Date', 'Ship Date', 'Ship Mode']].drop_duplicates().reset_index(drop=True)

print("\nORDER Table:")
print(f"Shape: {order.shape}")
print(order.head())
print(f"\nUnique orders: {order['Order ID'].nunique()}")

ORDER Table:
Shape: (5009, 5)
         Order ID Customer ID  Order Date   Ship Date       Ship Mode
0  CA-2016-152156    CG-12520   11/8/2016  11/11/2016    Second Class
1  CA-2016-138688    DV-13045   6/12/2016   6/16/2016    Second Class
2  US-2015-108966    SO-20335  10/11/2015  10/18/2015  Standard Class
3  CA-2014-115812    BH-11710    6/9/2014   6/14/2014  Standard Class
4  CA-2017-114412    AA-10480   4/15/2017   4/20/2017  Standard Class

Unique orders: 5009

In [12]:
# Create the PRODUCT table
# Product attributes: Product ID (PK), Order ID (FK), Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit
product = df[['Product ID', 'Order ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']].reset_index(drop=True)

print("\nPRODUCT Table:")
print(f"Shape: {product.shape}")
print(product.head())
print(f"\nUnique products: {product['Product ID'].nunique()}")

PRODUCT Table:
Shape: (9994, 9)
        Product ID        Order ID         Category Sub-Category  \
0  FUR-BO-10001798  CA-2016-152156        Furniture    Bookcases
1  FUR-CH-10000454  CA-2016-152156        Furniture       Chairs
2  OFF-LA-10000240  CA-2016-138688  Office Supplies       Labels
3  FUR-TA-10000577  US-2015-108966        Furniture       Tables
4  OFF-ST-10000760  US-2015-108966  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

Unique products: 1862

In [13]:
# Summary of the table relationships
print("\n" + "="*60)
print("TABLE RELATIONSHIPS SUMMARY")
print("="*60)
print(f"\n1. CUSTOMER Table: {customer.shape[0]} rows, {customer.shape[1]} columns")
print("   - Primary Key: Customer ID")
print("   - Contains: Customer demographics and location info")

print(f"\n2. ORDER Table: {order.shape[0]} rows, {order.shape[1]} columns")
print("   - Primary Key: Order ID")
print("   - Foreign Key: Customer ID -> CUSTOMER.Customer ID")
print("   - Contains: Order dates and shipping information")

print(f"\n3. PRODUCT Table: {product.shape[0]} rows, {product.shape[1]} columns")
print("   - Primary Key: Product ID + Order ID (composite)")
print("   - Foreign Key: Order ID -> ORDER.Order ID")
print("   - Contains: Product details, sales, quantity, discount, profit")

print(f"\nOriginal dataset had {len(df)} rows")
print("="*60)

============================================================
TABLE RELATIONSHIPS SUMMARY
============================================================

1. CUSTOMER Table: 4910 rows, 8 columns
   - Primary Key: Customer ID
   - Contains: Customer demographics and location info

2. ORDER Table: 5009 rows, 5 columns
   - Primary Key: Order ID
   - Foreign Key: Customer ID -> CUSTOMER.Customer ID
   - Contains: Order dates and shipping information

3. PRODUCT Table: 9994 rows, 9 columns
   - Primary Key: Product ID + Order ID (composite)
   - Foreign Key: Order ID -> ORDER.Order ID
   - Contains: Product details, sales, quantity, discount, profit

Original dataset had 9994 rows
============================================================

In [14]:
# Export each dataframe to CSV files
output_dir = '/Users/vitgabrhel/Desktop/Git/expertim_keboola/data'

# Export customer table
customer_file = f'{output_dir}/superstore_sample_customer.csv'
customer.to_csv(customer_file, index=False, encoding='utf-8')
print(f"‚úì Exported CUSTOMER table to: {customer_file}")
print(f"  Records: {len(customer)}")

# Export order table
order_file = f'{output_dir}/superstore_sample_order.csv'
order.to_csv(order_file, index=False, encoding='utf-8')
print(f"\n‚úì Exported ORDER table to: {order_file}")
print(f"  Records: {len(order)}")

# Export product table
product_file = f'{output_dir}/superstore_sample_product.csv'
product.to_csv(product_file, index=False, encoding='utf-8')
print(f"\n‚úì Exported PRODUCT table to: {product_file}")
print(f"  Records: {len(product)}")

print("\n" + "="*60)
print("All tables exported successfully!")
print("="*60)

‚úì Exported CUSTOMER table to: /Users/vitgabrhel/Desktop/Git/expertim_keboola/data/superstore_sample_customer.csv
  Records: 4910

‚úì Exported ORDER table to: /Users/vitgabrhel/Desktop/Git/expertim_keboola/data/superstore_sample_order.csv
  Records: 5009

‚úì Exported PRODUCT table to: /Users/vitgabrhel/Desktop/Git/expertim_keboola/data/superstore_sample_product.csv
  Records: 9994

============================================================
All tables exported successfully!
============================================================

# ‚ö†Ô∏è MCP Connection Status

The MCP connection to Keboola requires authentication with a Storage API Token. 

**To enable MCP connection:**
1. Get your Keboola Storage API Token from: https://connection.us-east4.gcp.keboola.com/admin/projects/5087/settings-users
2. Configure the MCP server with authentication

**For now, follow the manual steps below to configure the BigQuery transformation.**

# üìù Step-by-Step Instructions for Keboola BigQuery Transformation

## Step 1: Navigate to the Transformation
Go to: https://connection.us-east4.gcp.keboola.com/admin/projects/5087/transformations-v2/keboola.google-bigquery-transformation/01kesk822x7kdzessftrxrb4cc

## Step 2: Configure Input Mapping
Add three input tables from storage bucket `in.c-keboola-ex-google-drive-01kesn1c8hda86aqqm3z5hvvn1`:
1. `superstore_sample_customer`
2. `superstore_sample_order`
3. `superstore_sample_product`

## Step 3: Copy the SQL from the next cell and paste it into the transformation

## Step 4: Configure Output Mapping
Set the output table name and destination bucket

## Step 5: Save and Run the transformation